body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  background: rgb(238,174,202);
  background: linear-gradient(45deg, rgba(238,174,202,1) 15%, rgba(209,178,212,1) 31%, rgba(204,179,214,1) 40%, rgba(178,183,223,1) 59%, rgba(148,187,233,1) 88%);
}

button {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
